.home-page {

    .home{
      background-image: url(/img/001_top/bgi_sample.jpg);
      background-position: top center;
      color: #FFF;
    }

    .home-footer-toolbar{
      background: #000000;
      color:#FFF;
      font-size: 10px;
    }

}
