.tutorial {
  .slide-title {
    margin-top: 2.8rem;
  }
  .slide-image {
    max-height: 60%;
    max-width: 70%;
    margin: 50px 0 18px 0;

  }
  .slide-zoom {
   height: 100%;
 }

  h2{
  	color:#888;
  	margin:	10px;
  }
  p{
  	text-align: left;
  	padding: 0;
  	margin-bottom:10px;
    font-size: 14px;
    line-height: 1.5;
  }
}
