@charset "utf-8";

article,aside,canvas,details,figcaption,figure,
header,footer,main,menu,nav,section,summary {
	display: block;
}

body {
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1{
	font-size: 1.2em;
	margin: 0;
}
/*ランチ画面*/
#launch {
	background-image: url(../img/lunch/logo.png);
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	color: #FFF;
}

/*ホーム画面*/
#home {
	background-image: url(../img/001_top/bgi_sample.jpg);
	background-position: center top;
	color: #FFF;
}

.mypage{
	vertical-align: top;
	padding: 5px;
}

#home header{
	vertical-align: bottom;
	padding-left: 10px;
	padding-top: 10px;
}

#home article{
	text-align: center;
	padding-top: 20px;
	margin:25px;
}

#home img.home_title{
	width:80%;
}

#home a{
	color: #FFF;
	text-decoration: none;
}

#home footer{
	vertical-align: middle;
	background-color: #333;
	color:#FFF;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	-moz-opacity:0.9;
	opacity: 0.9;
	width: 100%;
}

section.menu01{
	text-align: center;
	border: 1px solid #FFF;
	margin-top: 40px;
}

section.menu02{
	text-align: center;
	border: 1px solid #FFF;
	width: 45%;
	float: left;
	margin-top: 20px;
}

section.menu03{
	text-align: center;
	border: 1px solid #FFF;
	width: 45%;
	float: right;
	margin-top: 20px;
}

/*チュートリアル*/
#tutorial article{
	text-align: center;
	padding-top: 20px;
	margin:25px;
}

#tutorial h1{
	color:#888;
	margin:	10px;
}

#tutorial p{
	text-align: left;
	padding: 0;
	margin: 0;
}

div.tut_dot{
	margin-top: 20px;
}

div.tut_button{
	background: #EEE;
	border: 1px solid #DDD;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	color: #FFF;
	padding: 10px 0;
	margin: 20px 50px;
	text-align: center;
}

/*ログイン画面*/
#login{
	background: #DDD;
}

#login header{
 text-align: center;
 background-image: url(../img/005_mypage/gr_top.png);
}

#login h1{
	color: #FFF;
	padding-top: 10px;
}

#login article{
	padding-top: 20px
}

img.prof_default {
  width: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
	margin: 10px 0 -50px 0;
	display:inline-block!important;
}

p.caution{
	padding:0 15px;
	margin: 0;
	font-size: 0.8em;
}

div.profile_change{
	text-align: center;
	margin-top: 50px;
}

div.submit_area{
	text-align: center;
}

input.form_area{
	text-align: left;
	width: 100%;
	min-height: 40px;
	font-size: 1.2rem;
	margin: 10px 0 20px 0;
	border: 0;
	background: #FFF;
	color: #666;
}

#login label{
	text-align: left;
	padding:0 15px;
}

button.submit{
	background: #0f9;
	border: 1px solid #DDD;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	color: #FFF;
	padding: 10px 0;
	margin: 20px 50px;
	text-align: center;
	font-size: 1.0rem;
	padding:10px;
}

/*プレビュー画面*/
#preview footer{
vertical-align: middle;
background-color: #333;
color:#FFF;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
z-index: 99999999999;
-moz-opacity:0.9;
opacity: 0.9;
width: 100%;
padding: 25px 0;
}

#preview figure{
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;
}

/*投稿画面*/
#post {
	background: #DDD;
}
#post header{
	vertical-align: middle;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	background: url(../img/common-icon/hdr_icon_prev_b.png) no-repeat #FFF;
	background-position: left center;
	background-size: 10%;
}
#post article{
	padding-top: 58px;
}

#post textarea{
	border: none;
	font-size: 1.0rem;
	margin: 0;
	width: 100%;
}

label.pin{
	padding-left: 20px;
}

img.thumb{
	width: 60px;
	height:60px;
	vertical-align:middle;
}

input.title_area{
	border: none;
	font-size: 1rem;
}

div.post_area{
	border: none;
	font-size: 1.0rem;
	background: #FFF;
	padding:10px 10px;
	margin: 15px 0;
}

div.sns{
	background: url(../img/common-icon/icon_list_arrow.png) no-repeat #FFF;
	background-position: right center;
	background-size: 10%;
}

#post footer.off{
	vertical-align: middle;
	background-color: #999;
	color:#FFF;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	font-size: 1.2em;
}

#post footer.on{
	vertical-align: middle;
	background-color: #f60;
	color:#FFF;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	font-size: 1.2em;
}

#post button{
	color: #FFF;
	font-size: 1.2rem;
	padding:15px;
	border: none;
	width: 100%:
	}

.on{
	background-color: #f60;
}

/*みんなの投稿画面*/
#allpost footer{
vertical-align: middle;
background-color: #FFF;
color:#FFF;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
z-index: 99999999999;
opacity: 0.9;
width: 100%;
padding: 15px 0;
}

#allpost figure{
	width: 33%;
	float: left;
	padding: 0;
	margin: 0;
}
