@charset "utf-8";

article,aside,canvas,details,figcaption,figure,
header,footer,main,menu,nav,section,summary {
	display: block;
}

body {
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1{
	font-size: 1.5em;
	margin: 0;
}

/*ホーム画面*/
#home {
	background-image: url(../img/001_top/bgi_sample.jpg);
	background-position: center top;
	color: #FFF;
}

.mypage{
	vertical-align: top;
	padding: 5px;
}

#home header{
	vertical-align: bottom;
	padding-left: 10px;
	padding-top: 10px;
}

#home article{
	text-align: center;
	padding-top: 20px;
	margin:25px;
}

#home footer{
	vertical-align: middle;
	background-color: #333;
	color:#FFF;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99999999999;
	-moz-opacity:0.9;
	opacity: 0.9;
	width: 100%;
}

section.menu01{
	text-align: center;
	border: 1px solid #FFF;
	margin-top: 40px;
}

section.menu02{
	text-align: center;
	border: 1px solid #FFF;
	width: 45%;
	float: left;
	margin-top: 20px;
}

section.menu03{
	text-align: center;
	border: 1px solid #FFF;
	width: 45%;
	float: right;
	margin-top: 20px;
}

/*チュートリアル*/
#tutorial article{
	text-align: center;
	padding-top: 20px;
	margin:25px;
}

#tutorial h1{
	color:#888;
	margin:	10px;
}

#tutorial p{
	text-align: left;
	padding: 0;
	margin: 0;
}

div.tut_dot{
	margin-top: 20px;
}

div.tut_button{
	background: #EEE;
	border: 1px solid #DDD;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	color: #FFF;
	padding: 10px 0;
	margin: 20px 50px;
	text-align: center;
}

/*ログイン画面*/
#login{
	background: #DDD;
}

#login header{
 text-align: center;
 background-image: url(../img/005_mypage/gr_top.png);
}

#login h1{
	color: #FFF;
	padding-top: 10px;
}

#login article{
	padding-top: 20px
}

img.prof_default {
  width: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
	margin: 10px 0 -50px 0;
	display:inline-block!important;
}

p.caution{
	padding:0 15px;
	margin: 0;
	font-size: 0.8em;
}

div.profile_change{
	text-align: center;
	margin-top: 50px;
}

div.submit_area{
	text-align: center;
}

input.form_area{
	text-align: left;
	width: 100%;
	min-height: 40px;
	font-size: 1.2rem;
	margin: 10px 0 20px 0;
	border: 0;
	background: #FFF;
}

#login label{
	text-align: left;
	padding:0 15px;
}

input.submit{
	background: #0f9;
	border: 1px solid #DDD;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	color: #FFF;
	padding: 10px 0;
	margin: 20px 50px;
	text-align: center;
}

/*プレビュー画面*/
#preview footer{
vertical-align: middle;
background-color: #333;
color:#FFF;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
z-index: 99999999999;
-moz-opacity:0.9;
opacity: 0.9;
width: 100%;
padding: 25px 0;
}

#preview figure{
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;
}
